.before {
  width: 30%;
  float: left;
  background-color: aquamarine;
}

.during {
  width: 30%;
  float: left;
  background-color: aqua;
}

.after {
  width: 30%;
  float: left;
  background-color: lightseagreen;
}

img {
  width: 100%;
}